html {
    --color-grey-100: rgb(236, 236, 236);
    --color-grey-400: rgb(134, 134, 134);
    --color-grey-600: rgb(58, 58, 58);
    --color-grey-900: rgb(41, 41, 41);
  
    --color-pirmary-300: rgb(167, 226, 255);
    --color-primary-700: rgb(0, 170, 255);
  
    --size-1: 18px;
    --size-5: 50px;
  
    background-color: var(--color-grey-100);
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
  }