html {
  --color-grey-100: rgb(236, 236, 236);
  --color-grey-400: rgb(134, 134, 134);
  --color-grey-600: rgb(58, 58, 58);
  --color-grey-900: rgb(41, 41, 41);

  --color-pirmary-300: rgb(167, 226, 255);
  --color-primary-700: rgb(0, 170, 255);

  --size-1: 18px;
  --size-5: 50px;

  background-color: var(--color-grey-100);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}
body {
  align-items: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.logoInhaUniv {
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(68, 67, 67, 0.5);
}
.campus-map {
  width: 80%;
  display: block;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}
#notice {
  text-align: center;
  padding: 2rem 2rem 0.5rem 2rem;
  margin: 0 auto;
}
#notice p {
  font-size: 2rem;
  padding: 0;
  margin: 1rem 1rem;
}
#notice span {
  font-weight: 1000;
}
#button-container {
  text-align: center;
}
#button-container a {
  text-decoration: none;
  color: var(--color-grey-100);
  font-size: 1.8rem;
}
#button-container a:hover {
  color: var(--color-primary-700);
}
.button {
  color: var(--color-primary-700);
  display: inline-block;
  width: 17%;
  padding: 0.7rem;
  margin: 1rem 1rem;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 6px;
  font-size: 1.125rem;
  font-weight: 600;
  transition: background-color 1s ease-out;
  cursor: pointer;
}
.button:hover {
  color: white;
  background-color: var(--color-primary-700);
  border: 1px solid rgb(255, 255, 255);
}
.pop_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  text-align: center;
}
.pop_wrap:after {
  display: inline-block;
  height: 50%;
  vertical-align: middle;
  content: "";
}
.pop_wrap .pop_inner {
  display: inline-block;
  vertical-align: middle;
  font-size: var(--size-1);
}
.btn_close {
  color: var(--color-primary-700);
  display: inline-block;
  width: 50%;
  padding: 0.7rem;
  
  border: 2px solid rgb(224, 224, 224);
  border-radius: 6px;
  font-size: var(--size-1);
  font-weight: 600;
  transition: background-color 1s ease-out;
  cursor: pointer;
}
.btn_close:hover {
  color: white;
  background-color: var(--color-primary-700);
  border: 1px solid rgb(255, 255, 255);
}
.pop-1container {
  padding: 3rem 1rem 1rem 1rem;
  list-style: none;
}
.pop-1container p {
  margin-top: 0;
  color: var(--color-grey-100);
  font-size: 1.5rem;
}
.pop-12 {
  color: var(--color-primary-700);
  
}
.pop-1 {
  padding: 1rem 0;
  color: var(--color-grey-100);
  font-size: 1.5rem;
}
.pop-1 img {
  height: 200px;
  width: auto;
  object-fit: cover;
}
footer ul {
  display: flex;
  justify-content: center;
  padding: 2rem 4rem;
}
footer li {
  width: 2rem;
  height: 2rem;
  margin: 1rem 3rem;
}
.icon {
  text-decoration: none;
  color: var(--color-grey-900);
}
.icon:hover {
  transform: scale(1.05);
}
.icon:active {
  color: var(--color-primary-700);
}
